Flask
Flask-Assets
Flask-HTTPAuth
Flask-JSON
Flask-REST
Flask-RESTful
Flask-Responses
Flask-SQLAlchemy
coverage
dicttoxml
mock
pytest
pyyaml
setuptools
wheel
pylint
click
unittest2
unittest-xml-reporting
python-json-logger
python-keycloak
structlog
kafka-python==1.4.6
psutil
json-logging
faust
dict2obj
r2essentials>=0.0.16
# revenue_contract
redis
requests
waitress
elasticsearch
botocore
boto3